/*

COLOURS
FFD6FB - light pink
FFAFF7 - pink
FFDA18 - gold
FF8A00 - orange
A81EE9 - purple

*/

.bg-custom-light-pink {
	background-color:#FFD6FB;
}

.custom-colour-light-pink {
	color:#FFD6FB;
}

.bg-custom-pink {
	background-color:#FFAFF7;
}

.custom-colour-pink {
	color:#FFAFF7;
}

.bg-custom-gold {
	background-color:#FFDA18;
}

.custom-colour-gold {
	color:#FFDA18;
}

.bg-custom-orange {
	background-color:#FF8A00;
}

.custom-colour-orange {
	color:#FF8A00;
}

.bg-custom-purple {
	background-color:#A81EE9;
}

.custom-colour-purple {
	color:#A81EE9;
}